@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: "Open Sans", sans-serif;
}

thead {
    font-weight: lighter;
}

.main p {
    margin: 0;
}

.main {
    padding: 1em;
}

.title {
    text-decoration: underline;
    font-weight: bold;
}

.logoutbutton {
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 1
}

.logoutbutton button {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}


.icon img { 
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 35px;
    cursor: pointer;
    z-index: 1;
}

