@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@keyframes lighten {
    0% {
        color: #757575;
    }

    100% {
        color: #dadada;
    }
}


body {
    font-family: "Open Sans", sans-serif;
}

thead {
    font-weight: lighter;
}

.main p {
    margin: 0;
}

.main {
    padding: 1em;
}

.title {
    text-decoration: underline;
    font-weight: bold;
}
