@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


body {
    font-family: "Open Sans", sans-serif;
    user-select: none;
}


.main {
    top: 50%;
    left: 50%;
    text-align: center;
    margin: auto;
}

::placeholder {
    font-style: italic;
}
