@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    user-select: none;
}


h1.title {
    font-size: 3vw;
    margin: 0;
    margin-bottom: 0.5em;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}


.main {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: auto;
}


::placeholder {
    font-style: italic;
}

input {
    font-family: "Roboto";
    /*font-weight: lighter;*/
}

input[type=password], input[type=password]:focus {
    border: 0;
    outline: 0;
    margin-right: 0.5em;
    border-bottom: 1px solid grey;
    padding-bottom: 2px;
    background: transparent;
}


input[type=submit] {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}


.icon img {
    position: fixed;
    bottom: 1%;
    right: 1%;
    width: 35px;
    cursor: pointer;
    z-index: 1;
}
