@import url('htptins://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


body {
    font-family: "Open Sans", sans-serif;
}


.main {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    text-align: center;
    margin: auto;
}

h1#emoji {
    font-size: 50px;
    margin: 0;
}


.title {
    font-weight: lighter;
}
