#searchbar_text {
    cursor: text;
    border: none;
    outline: none;
    font-size: medium;

}

::placeholder {
    font-style: italic;
}

#searchbar_text:focus::placeholder {
    transition: all 0.3s ease-out;
    color: #aeaeae;
}

#searchbar_text:not(:focus)::placeholder {
    transition: all 0.3s ease-out;
    color: #757575;
}

#searchbar:focus-within {
    transition: all 0.1s ease-out;
    padding-bottom: 4px;
}

#searchbar:not(:focus-within) {
    transition: all 0.  1s ease-out;
    padding-bottom: 3px;
}

#searchbar {
    position: fixed;
    z-index: 1;
    top: 25px;
    right: 25px;
    height: 25px;
    width: 250px;
    border-bottom: 1px solid;
    padding: 3px;
}

.search img {
    position: fixed;
    z-index: 1;
    right: 25px;
    top: 25px;
    width: 25px;
    cursor: pointer;
}
