<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/files.css') }}">
    <script type="text/javascript">
        if (document.location.pathname.at(-1) != '/') {
            document.location.pathname += '/';
        }
    </script>
</head>
<body>
    <div class="main">

        <table>
            <tr>
                <td>📁</td>
                <td class="folder-item"><a href="../">../ (previous)</a></td>
            </tr>
        </table>
        <br>

        {% if len_folders > 0 %}
        <table>
                <thead><tr>
                    <td></td>
                    <td><span class="title">Folders</span></td>
                </tr></thead>

                <tbody>
                    <!-- Displaying folders -->
                    {% for i in range(len_folders) %}
                        <tr>
                            <td>📁</td>
                            <td class="folder-item"><a href="./{{ folders[i] }}">{{ folders[i] }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        <br>
        {% endif %}

        {% if len_files > 0 %}
            <table>
                <thead><tr>
                    <td></td>
                    <td><span class="title">Files</span></td>
                    <td>&nbsp;&nbsp;<span class="title">Size</span></td>
                </tr></thead>

                <tbody>
                    <!-- Displaying files -->
                    {% for i in range(len_files) %}
                        <tr>
                            <td>{{ emoji_selector(files[i][0]) }}</td>
                            <td class="file-item"><a href="./{{ files[i][0] }}">{{ files[i][0] }}</td>
                                <td>&nbsp;&nbsp;{{ files[i][1] }}</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>

    <div class="logoutbutton">
        <a href="/resetcookie/">
            <button>Log out</button>
        </a>
    </div>

    <div class="search">
        <form action="/search">

            <div id="searchbar">
                <input type="text" id="searchbar_text" placeholder="Search for a file">

                <label for="searchbar_submit">
                    <img src="{{ url_for('static', filename='img/magnifier.png') }}">
                </label>
            </div>


            <input type="submit" id="searchbar_submit" hidden>

        </form>
    </div>

    <footer>


        <div class="icon" id="github">
            <a href="https://github.com/Biskweet/HomeExplorer/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg">
            </a>
        </div>
    </footer>
</body>
</html>
