<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/files.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/log_out_button.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    
    <script type="text/javascript">
        if (document.location.pathname.at(-1) != '/') {
            document.location.pathname += '/';
        }
    </script>
</head>
<body>
    <div class="main">

        <table>
            <tr>
                <td>📁</td>
                <td class="folder-item"><a href="../">../ (previous)</a></td>
            </tr>
        </table>
        <br>

        {% if folders|length > 0 %}
        <table>
                <thead><tr>
                    <td></td>
                    <td><span class="title">Folders</span></td>
                </tr></thead>

                <tbody>
                    <!-- Displaying folders -->
                    {% for folder in folders %}
                        <tr>
                            <td>📂</td>
                            <td class="folder-item"><a href="./{{ folder }}">{{ folder }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        <br>
        {% endif %}

        {% if files|length > 0 %}
            <table>
                <thead><tr>
                    <td></td>
                    <td><span class="title">Files</span></td>
                    <td>&nbsp;&nbsp;<span class="title">Size</span></td>
                </tr></thead>

                <tbody>
                    <!-- Displaying files -->
                    {% for file in files %}
                        <tr>
                            <td>{{ emoji_selector(file.name) }}</td>
                            <td class="file-item"><a href="./{{ file.path }}">{{ file.name }}</td>
                            <td>&nbsp;&nbsp;{{ file.size }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>

    {% include "log_out_button.html" %}

    {% include "search_bar.html" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search_bar.css') }}">


    {% include "footer.html" %}
</body>
</html>
