<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 - Not found</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/notfound.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
</head>
<body>
    <div class="main">
        <h1 class="emoji">❓</h1>
        <h1 class="title">Error 404</h1>
        <p>Sorry, the content you requested was not found.</p>
        <a href="/login/">
            <button>Go to the login page</button>
        </a>
    </div>

    {% include "footer.html" %}
</body>
</html>
