<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unauthorized</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/unauthorized.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/_footer.css') }}">
</head>
<body>
    <div class="main">
        <h1 class="emoji">❌</h1>
        <h1 class="title">Unauthorized</h1>
        <p>{{ message }}</p>
        <a href="/resetcookie/">
            <button>Go back to the login page</button>
        </a>
    </div>

    {% include "_footer.html" %}
</body>
</html>
